<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/personalizarPastel.css">
    <script src="../js/ordenes.js"></script>
    <title>Personaliza tu Pastel</title>
</head>
<body>
    <header>
        <h1><a href="../index.html">Space Cake</a></h1>
        <img src="../img/Space Cake.png" alt="">
    </header>
    <section>
        <form action="../js/ordenes.js" id="ordenDePastel" method="post">
            <div class="cantidadDePasteles">
                <div>
                    <div>
                        <h2>Cantidad de pasteles:</h2>
                        <input type="number" name="cantidadDePasteles" id="cantidadDePasteles">
                    </div>
                </div>
            </div>
            <div class="saboresDePastel">            
                <div>
                    <h2>Selecciona uno o más sabores para tu pastel:</h2>
                    <input type="checkbox" name="saborLimon" id="saborLimon">
                    <label for="saborLimon">Limón</label><br>
                    <input type="checkbox" name="saborFresa" id="saborFresa">
                    <label for="saborFresa">Fresa</label><br>
                    <input type="checkbox" name="saborChocolate" id="saborChocolate">
                    <label for="saborChocolate">Chocolate</label><br>
                    <input type="checkbox" name="saborVainilla" id="saborVainilla">
                    <label for="saborVainilla">Vainilla</label><br>
                    <input type="checkbox" name="sabor3Leches" id="sabor3Leches">
                    <label for="sabor3Leches">3 Leches</label><br>
                </div>
            </div>
            <div class="adornosdePastelCantidad">
                <div>
                    <h2>Selecciona los ardonos que llevará tu pastel:</h2>
                    <label for="velasConNúmeroCantidad">Velas con número (Edad):</label>
                    <input type="number" name="velasConNúmeroCantidad" id="velasConNúmeroCantidad"><br>
                    <label for="">Paquete de 5 velas:</label>
                    <input type="number" name="paqueteDe5VelasCantidad" id="paqueteDe5VelasCantidad"><br>
                    <label for="">Paquete de 15 velas:</label>
                    <input type="number" name="paqueteDe15VelasCantidad" id="paqueteDe15VelasCantidad"><br>
                    <label for="">Vela con diseño de personaje:</label>
                    <input type="number" name="velaDiseñoCantidad" id="">
                    <select id="velaDiseñoPersonaje" name="velaDiseñoPersonaje" >
                        <option disabled selected value> -- select -- </option>
                        <option value="batman">Batman</option>
                        <option value="hulk">Hulk</option>
                        <option value="amongUs">Among Us</option>
                        <option value="minion">Minion</option>
                    </select><br>
                    <label for="">Vela mágica</label>
                    <input type="number" name="velaMagica" id="velaMagica"><br>
                </div>
            </div>
            <div class="datosDelCliente">
                <div>
                    <label for="nombreCliente">Nombre:</label>
                    <input type="text" name="nombreCliente" id="nombreCliente"><br>
                    <label for="telefonoCliente">Teléfono:</label>
                    <input type="tel" name="telefonoCliente" id="telefonoCliente" maxlength="10"><br>                    
                    <label for="correoCliente">Correo Electrónico:</label>
                    <input type="email" name="correoCliente" id="correoCliente"><br>                    
                    <label for="instruccionesCliente">Instrucciones especiales</label>
                    <input type="text" name="instruccionesCliente" id="instruccionesCliente"><br>                    
                </div>
            </div>
            <div class="finalizarOrden">
                <div>
                    <!-- <input type="submit" value="Hacer pedido"> -->
                    <button type="button" onclick="recogerDatos()">Hacer pedido</button>
                    <input type="reset" value="Borrar orden">
                </div>
            </div>
        </form>
    </section>
    <footer>
        <div class="datosDeContacto">
            <p>Isidro Fabela 405 Sur, Centro, 50000 Toluca de Lerdo, Méx. <br>
            Teléfono: +55 729 141 6942 <br>
            E-mail: scpasteleria@gmail.com <br>
            Horarios de atención: 9:00 - 21:00</p>
        </div>
    </footer>
</body>
</html>