body{
    margin: 0px;
    font-family: 'Hubballi', cursive;
    background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fbb4f736;
    padding: 1% 4%;
}

header img{
    width: 150px;
    height: auto;
    border-radius: 100%;
}

header div{
    width: 40%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: large;
}

header div a{
    text-decoration: none;
    color: black;
    background-color: white;
    width: 128px;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    background-color: #fbb4f736;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 0 5% 20px 5%;
    margin: 30px 20%;
    border-radius: 10px;
}

h2{
    margin: 8px 0;
}

select{
    text-align: center;
    width: fit-content;
}

button{
    margin: 20px 5px 5px 5px;
    width: 60%;
    align-self: center;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fbb4f736;
    flex-wrap: wrap;
}

footer img{
    border-radius: 100%;
    width: 200px;
    height: auto;
}

footer a{
    text-decoration: none;
    color: black;
}

footer div{
    display: flex;
    align-items: center;
}

footer a, footer svg{
    margin: 15px;
}

@media (max-width:475px) {
    header{
        flex-direction: column;
}
    header img, footer img{
        width: 150px;
        height: auto;
}
}